.header{
    height: 80px;
    background-color: white;
    justify-content: center;
    padding: 4px 12px 4px 12px;
    box-sizing: border-box;
    align-items: center;
}

.header__wrapper{
    display: flex;
    align-items: center;
    height: 56px;
    background-color: white;
    color: black;
    margin: 0px;
}

.header__wrapper > *{
    margin: 0px 10px;
}

.header__home{
    background-color: #efefef;
    padding: 10px 0px;
    border-radius: 40%;
    background-color: #222;
    color: white;
}

.header__search{
    flex: 1;
    display: flex;
    align-items: center;
    background-color: #efefef;
    border-radius: 200px;
    height: 40px;
}

.header__searchIcon{
    margin-left: 10px;
    margin-right: 5px;
    color: #767676;;
}

.header__searchForm{
    flex: 1;
    display: flex;
}

.header__searchText{
    flex: 1;
    background-color:transparent;
    outline: none;
    border: none;
}

.header__menu{
    display: flex;
    align-items: center;
}
